/*Main card of cart*/
.card-cart{
    position: fixed;
    right: 20px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
}

/*Header background*/
.cart-header{
    background-color: gray;
}

/*Body background*/
.cart-body{
    background-color: lightgray;
    padding-top: 4%;
}

/*Cart title text*/
.cart-title{
    text-align: center;
    font-weight: bold;
    padding: 20px 30px;
}

/*prices area*/
.prices{
    margin-top: 1%;
    padding-bottom: 2%;
}

.prices-text{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    margin-top: 1%;
    display: inline-block;
    width: 400px;
}

.values{
    display: inline-block;
    width: 55px;
    text-align: right;
    margin-right: 20px;
}


.submit-button{
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    padding: 20px 190px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;

    cursor: pointer;
}

.submit-button:hover {
  opacity: 0.7;
}