/*Product main card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
    min-width: 80%;
    margin: auto;
    text-align: center;
}

/*Name of the products*/
.name{
    color: #000000;
    font-size: 27px;
    font-weight: bold;

    margin-top: 5px;
    margin-bottom: -5px;
}

/*Price/ammount text*/
.price-ammount {
    color: #B2B2B2;
    font-size: 20px;
    font-weight: 500;
}
  
/*Button 'Add to cart'*/
.card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #E3242B;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
}

.out-stock{
    background-color: #b2b2b2 !important;
    cursor: default;
}

/*'Add to cart' button hover effect*/
.card button:hover {
    opacity: 0.7;
}