/*Main card of each item on the cart*/
.item {
  padding: 20px 30px;
  max-height: 50px;
  display: flex;

  outline: black;
  outline-style: solid;
  outline-offset: 2px;
}
.item {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #B2B2B2;
}

.image{
  background-color: #B2B2B2;
  grid-area: 1 / 1 / span 1 / span 1;

  size: 30px;
}

.details{
  background-color: #B2B2B2;
}

.ammount-select{
  background-color: #B2B2B2;
  grid-area: 1 / 3 / span 1 / span 1;
}